<div class="card mb-3 mr-3 text-dark text-center bg-@(Todo.Statu switch {
																	TaskStatu.Todo => "warning",
																	TaskStatu.Inprogress => "secondary",
																	TaskStatu.Completed => "primary",
																	_ => "primary"
																}) " style="max-width: 18rem; margin-right:1em; border-radius:18px">
	<div class="card-header">
		<h5 class="card-title text-light">@Todo.Title</h5>
		<h6 class="card-subtitle mb-2 text-light">@(Todo.Statu.ToString())</h6>
	</div>
	<div class="card-body ">
		<p class="card-text">@Todo.Description</p>
	</div>
	<div class="card-footer">
		<a class="btn btn-success" @onclick="(() => UpdateTodo(Todo.Id))">Update</a>
		<a class="btn btn-danger">Delete</a>
	</div>
</div>

@code {

	[Parameter]
	public string BgColor { get; set; }

	[Parameter]
	public Todo Todo { get; set; }

	[Inject]
	NavigationManager NavigationManager { get; set; }

	private void UpdateTodo(int Id)
	{
		Console.WriteLine(Id);

		NavigationManager.NavigateTo($"/todo/update/{Id}");
	}
}
