@page "/todo-list"

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<input class="btn btn-primary btn-sm" type="button" @onclick="GoToTodoAddPage" value="Add New">
		</div>
	</div>
	<br>
	<div class="row">
		@{
			if (TodoList.Count > 0)
			{
				foreach (var todo in TodoList)
				{
					<TodoComponent Todo="@todo" />
				}
			}
		}
	</div>
</div>



@code {

	[Inject]
	NavigationManager NavigationManager { get; set; }

	List<Todo> TodoList = new List<Todo>();
	protected async override Task OnInitializedAsync()
	{
		await Task.Delay(10000);
		//TodoList.Add(new Todo
		// {
		// Id = 1,
		// Title = "Selam",
		// Description = ""
		// });
	}

	protected override void OnInitialized()
	{
		TodoList = TodoMemoryData.TodoList();

		TodoList.ForEach(s => Console.WriteLine($"{s.Id} {s.Title}"));

		base.OnInitialized();
	}

	private void GoToTodoAddPage()
	{
		NavigationManager.NavigateTo("/todo/add");
	}

}
