@page "/"
@using BookReservation.Client.Utils

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<br />
<br />

<div class="row">
	<AddButtonComponent Text="Ekle" OnClick="Save" Color="primary" />
</div>


<div class="row">
	<SurveyPrompt Title="How is Blazor working for you?" />
	<SurveyPrompt />
</div>



@code {

	[CascadingParameter]
	IModalService Modal { get; set; }

	[Inject]
	ModalManager ModalManager { get; set; }

	private async Task Save()
	{
		Console.WriteLine("Button clicked");

		await ModalManager.ShowMessageAsync("Deneme", "Deneme içerik", 0);
	}
}
